bidict==0.23.1
blinker==1.8.2
certifi==2024.8.30
click==8.1.7
dnspython==2.6.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-SocketIO==5.4.1
gunicorn==23.0.0
h11==0.14.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pymongo==4.10.1
python-dateutil==2.9.0.post0
python-engineio==4.9.1
python-socketio==5.11.4
sib-api-v3-sdk==7.6.0
simple-websocket==1.0.0
six==1.16.0
urllib3==2.2.3
Werkzeug==3.0.4
wsproto==1.2.0
